name: Windows Build

on:
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build for Windows
        run: |
          python -m pip install jinja2
          python -m pip install pyinstaller
          wget https://github.com/upx/upx/releases/download/v4.2.4/upx-4.2.4-win64.zip
          mkdir .\upx
          Expand-Archive -LiteralPath 'upx-4.2.4-win64.zip' -DestinationPath .\upx
          cp .\upx\upx.exe .
          pyinstaller --onefile .\main.py
          dir dist
