name: Windows Build

on:
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build for Windows
        run: |
          python -m pip install jinja2
          python -m pip install pyinstaller
          pyinstaller --onefile .\main.py
          dir
