name: Windows Build

on:
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build for Windows
        shell: pwsh
        run: |
          python -m pip install -r requirements.txt
          Invoke-WebRequest https://github.com/upx/upx/releases/download/v4.2.4/upx-4.2.4-win64.zip -UseBasicParsing -OutFile upx.zip
          Expand-Archive -LiteralPath upx.zip
          Get-ChildItem -Recurse
          cp .\upx-4.2.4-win64\upx.exe .
          pyinstaller --onefile .\main.py
          Get-ChildItem -Recurse
          